@{
    ViewBag.Title = "About Page";
}

<!DOCTYPE html>
<html lang="en">

<head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

    <div class="site-wrap">

        <div class="site-mobile-menu site-navbar-target">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close mt-3">
                    <span class="icon-close2 js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body"></div>
        </div>



        <div class="hero-2" style="background-image: url('/images/about_bg.jpg');">
            <div class="container">
                <div class="row justify-content-center text-center align-items-center">
                    <div class="col-md-8">
                        <span class="sub-title">Welcome</span>
                        <h2>About Camron Tattoo</h2>
                    </div>
                </div>
            </div>
        </div>


        <div class="site-section py-5 custom-border-bottom" @*data-aos="fade"*@>
            <div class="container">
                <div class="row mb-5">
                    <div class="col-md-6">
                        <div class="block-16">
                            <figure>
                                <img src="~/images/about_Started_bg.jpg" alt="Image placeholder" class="img-fluid">

                            </figure>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-5">


                        <div class="site-section-heading pt-3 mb-4">
                            <h2 class="text-black font-heading-serif">How We Started</h2>
                        </div>
                        <p>In 2014, Ron decide to start make one of his personal hobbies as a main source of his income</p>
                        <p>As yrs goes by, Ron leaves his job in aTattoo shop and independently created his own shop in Pasay City, Metro Manila</p>
                        <p>Ron Tattoo is now known as one of the Multi-awarded Tattoo artist in 21st Century dominaing every competition he faced</p>



                    </div>
                </div>
            </div>
        </div>





    </div>

</body>

</html>